.card{
    display: flex;
    align-items: center;
}
.card img{
    border-radius: 8px;
    object-fit: cover ;
    margin: 10px 0;
}

.cardBody{
    padding:0 15px
}
.cardBody p{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin: 10px 0;
    color:white;
}

.cardBody h3{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    font-size: 18px;
    font-weight: 600;
    color:white;
}